<h1> BARBER SHOP!! </h1>

<h3>Welcome To The Neighbourhood BarBershop</h3>

  <% if @barbers.any?() %>
  <p>Click on a barber to see their clients:</p>

  <ul>
    <% @barbers.each do |barber| %>
    <li><a href="/barbers/<%= barber.id() %>"><%= barber.name() %></a></li>
    <% end %>
  </ul>
  <% else %>
  <p>There are no barbers yet!</p>
  <% end %>
  
  <div class="container">
    <a href="/barbers">View All barbers</a>
  </div>
  