body{
    font-family:Jamrul;
    margin: 0;
    padding-top: 100px; 
}


div.holder{
    width: 100%;
    height: auto;
    margin-top: 50px;
}
.col-md-6 img{
    height: auto; 
    width: 100%; 
    /*max-height: 300px;*/
    float:right;
}
.yield{
    text-align:left;
}
#clients input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color:  #e0e0d1;
    color: #6666ff;
}

.form1 button {
    width: 100%;
    background-color: #ff4d4d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form1 button:hover {
    background-color: #45a049;
}

div.form1{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

#barber input[type=text] {
    width: 500px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: smoke-white;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#barber input[type=text]:focus {
    width: 100%;
}

.form button {
    width: 20%;
    background-color: #ff661a;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form button:hover {
    background-color: #b38600;
}

div.form{
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
}
